{% extends 'Front/base/main.html.twig' %}

{% block titleHeader %}
Listar clientes
{% endblock %}
{% block content %}
{% include 'Front/base/header.html.twig' %}
<link rel="stylesheet" href="/css/css_all/Orders/list.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    #tabla-scroll {
        overflow-x: auto;
        /* Habilita el scroll horizontal */

        max-width: 100%;
        /* Establece el máximo ancho al 100% */
    }





</style>

{% if session('isLogged') %}

<body class="container_clientes">

    <div class="contenedor mt-1 p-3 pt-0">

        <div id="titulo_orders">

            <div class="row">
                <div class="col-4 pl-3">
                    <a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
                        <img class="ml-3 pt-4 " src="\images\arrow_white_izq.png" alt="...">
                    </a>
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>

            <div class="cssscan">
                <p>
                    <h4 class="display-4 text-white text-center ">Listado de Pedidos</h4>
                </p>
                <p class=" texto_titulo text-white">Gestion de Pedidos
                </p>
                </span>
                </p>
                </p>

                <img src="\images\icono_albaran.svg" alt="...">
</body>
</div>
</div>

<div class="cuerpo_orders mt-2">

    <div class="row  mb-1 justify-content-center justify-content-md-start">

        <div class="col-4 "></div>

        <div class="col-sm-4 pb-3">

            <a class="text-center" href="{{ routeTo('showFormOrders') }}">
                <span class=" mx-auto d-block text-center button_order_add">

                    <img class=" pt-3" src="\images\add_1.png" alt="...">

                </span>
            </a>

        </div>

        <div class="col-4 "></div>
    </div>

    <form action="{{ routeTo('listOrders' ) }}#sectionTable" method="GET">

        <div class="row_num_bills p-2 pb-2">

            <div class="row mt-2 ">

                <div class="col-sm-4 ">

                    <label class="" for="inputDescription">&nbsp;&nbsp;Filtrar
                        por clientes
                    </label>

                    <select id="customer-select" class="form-control " name="customer_id"
                        style="border:none !important;" data-control="select2">
                        <option value="">Seleccione un cliente</option>
                        {% for customer in customers_all %}
                        <option value="{{ customer.id_customer }}">
                            {{ customer.names }}
                        </option>
                        {% endfor %}
                    </select>

                </div>

                <div class="col-sm-4">

                    <label class="" for="direccion_obra">&nbsp;&nbsp;Filtrar
                        por direccion
                    </label>

                    <select id="work-location-select" name="id_work_locations" class="form-select">
                        <option value="">Seleccione una dirección de obra</option>
                    </select>

                </div>

                <div class="col-sm-4">

                    <label class="" for="inputDescription">&nbsp;&nbsp;Filtrar
                        por Conductor
                    </label>
                    <select class="form-select " name="driver" id="id_drivers_selection"
                        style="border:none !important;">
                        <option value="" selected>Seleccione un Conductor
                        </option>
                        {% for d in drivers_all %}
                        {% if ( d.active  ==  1) %}

                        <option value="{{ d.id_driver }}" class="font-weight-bold ">

                            {{ d.name }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>

                </div>

            </div>

            <div class="row  mb-2 justify-content-center ">

                <div class="col-sm-4 mt-4">

                    {# <p id="list_pallet_buscar_texto text-center p-1">BUSCAR POR FECHAS CREACION</p>#}

                    <label class="" for="inputDescription">Filtrar por dia de alta del Pedido
                    </label>

                    <input type="date" class="form-control text-left ml-2 " name="created_at"
                        placeholder="Fecha de final">
                    <p class="text-danger">{{ msg('errors.created_at') }}</p>

                </div>

                <div class="col-sm-4 mt-4 ">

                    <label class="" for="inputDescription">Filtrar por dia de Planificacion
                    </label>

                    <input type="date" class="form-control text-left ml-2 " name="planned_date">
                    <p class="text-danger">{{ msg('errors.planned_date') }}</p>

                </div>

                <div class="col-sm-4 ">

                    <div class="wrapper mt-3">
                        <input type="radio" name="state" id="option-1" value="Pendiente">
                        <input type="radio" name="state" id="option-2" value="Asignado">
                        <input type="radio" name="state" id="option-3" value="Facturado">

                        <label for="option-1" class="option option-1">
                            <div class="dot"></div>
                            <span>Pendientes</span>
                        </label>
                        <label for="option-2" class="option option-2">
                            <div class="dot"></div>
                            <span>Asignado</span>
                        </label>
                        <label for="option-3" class="option option-3">
                            <div class="dot"></div>
                            <span>Facturado</span>
                        </label>
                    </div>

                </div>
            </div>

            <div class="row mb-2 ">

                <div class="col-sm-4"></div>

                <div class="col-sm-4 col_button_filtrar">

                    <button type="submit" class="button_filtrar text-center">
                        <img src="\images\icon_filter.png" alt="...">&nbsp;&nbsp;&nbsp;&nbsp;Filtrar</button>

                </div>

                <div class="col-sm-4"></div>
            </div>

        </div>

    </form>

    <div class="row mt-2  mb-1 justify-content-center justify-content-md-start">

        <div class="col-4 "></div>

        <div class="col-sm-4 pb-3">

            <a class="text-center" href="{{ routeTo('listOrders') }}">
                <span class=" mx-auto d-block text-center volver_cargar_pedidos ">

                    Volver a mostrar todos los pedidos

                </span>
            </a>

        </div>

        <div class="col-4 "></div>
    </div>


    <div id="tabla-scroll">
        <table class="table table-striped  text-center" id="sectionTable">
            <thead>
                <tr>
                    {#   <th class="text-center align-middle" scope="col">Id</th>#}
                    <th class="pt-3 text-center align-middle th_header" scope="col">Pedido</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Fecha Alta</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Cliente</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Direccion de Obra</th>

                    <th class="pt-3 text-center align-middle th_header" scope="col">Servicio</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">M3 Contenedor</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Observaciones</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Forma de pago</th>

                    <th class="pt-3 text-center align-middle th_header" scope="col">Conductor</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Fecha de Planificacion</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Asignar</th>
                    <th class="pt-3 text-center align-middle th_header" scope="col">Estado</th>

                    <th class="pt-3 text-center  align-middle th_header" scope="col">
                        Seleccionar</th>
                    <th class="pt-3 text-center  align-middle th_header" scope="col">
                        Acciones</th>

                </tr>
            </thead>
            <tbody>

                {% if orders|length == 0%}

                <tr>
                    <td class="text-center align-middle text-left" colspan="15">

                        <lord-icon src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                            colors="primary:#DA192D,secondary:#DA192D" style="width:50px;height:50px"></lord-icon>

                        <br>
                        No ahi pedidos realizados
                    </td>
                </tr>

                {% else %}

                {% for order in orders %}

                <tr>
                    {#  <th scope="row" class="text-center align-middle">{{ customer.id_customers }}</th>#}
                    <th scope="row" class="text-center align-middle ">
                        <span class="" style="position:relative;top:-2px;">{{ order.id_order }}</span>

                    </th>
                    <th scope="row" class="text-center align-middle">{{ order.created_at | date('d/m/y') }}</th>

                    <th scope="row" class="text-center align-middle">{{ order.name_customer }}</th>
                    <th scope="row" class="text-center align-middle">{{ order.name_work_location }}</th>

                    <th scope="row" class="text-center align-middle">

                        {% for s in services %}

                        {% if ( order.id_service == s.id_service ) %}
                        {{ s.name }}
                        {% endif %}
                        {% endfor %}

                    </th>
                    <th scope="row" class="text-center align-middle">

                        {% for c in containers %}

                        {% if ( order.id_container == c.id_container ) %}
                        {{ c.cubic_meters }}
                        {% endif %}
                        {% endfor %}

                    </th>

                    <th scope="row" class="text-center align-middle">
                        {{ order.notas }}

                    </th>
                    <th scope="row" class="text-center align-middle">
                        {{ order.payment_method }}

                    </th>

                    <th scope="row" class="text-center align-middle">

                        {% if ( order.state == "Asignado" ) %}
                        {% for driver in drivers_all %}
                        {% if ( order.id_driver == driver.id_driver ) %}
                        {{ driver.name }}
                        {% endif %}
                        {% endfor %}

                        {% endif %}

                    </th>
                    <th scope="row" class="text-center align-middle">

                        {{ order.planned_date | date('d/m/y') }}
                    </th>

                    <th scope="row" class="text-center align-middle">
                        {% if ( order.state == "Pendiente" ) %}
                        <span style="color:#c2ac0f;">
                            {{ order.state }}</span>
                        {% endif %}

                        {% if ( order.state == "Asignado" ) %}
                        <span style="color:#cf8f15;">
                            {{ order.state }}</span>
                        {% endif %}

                        {% if ( order.state == "Facturado" ) %}
                        <span style="color:#0da5eb;">
                            {{ order.state }}</span>
                        {% endif %}

                          {% if ( order.state == "Realizado" ) %}
                        <span style="color:#42ac02;">
                            {{ order.state }}</span>
                        {% endif %}

                    </th>

                    <th scope="row" class="text-center align-middle">

                        <div class="div_button">
                            {% if ( order.state == "Pendiente" ) %}

                            &nbsp;&nbsp;
                            <a href="{{ routeTo('asignDriverVehicle', order.id_order) }} "
                                class="button-40 ml-2 mr-2">Asignar
                                conductor
                            </a>
                              {% else %}

                              -
                            {% endif %}
                        </div>

                    </th>

                    <th scope="row" class="text-center align-middle">

                        <div class="div_button">

                            {% if (  order.state == "Asignado" ) %}

                            &nbsp;&nbsp;
                            <a href="{{ routeTo('addAlb', order.id_order) }}#setionWorkLocations "
                                class="button-30 ml-2 mr-2">Generar Albaran
                            </a>
                            {% else %}

                              -
                            {% endif %}

                        </div>

                    </th>

                    <td class="   text-left align-middle" style="min-width:180px;">

                        <div class="d-flex justify-content-center align-items-center boton_menu">
                            <nav class="navbar navbar-expand-lg  navbar-light text-center nav_menu">

                                <button class="navbar-toggler  text-center" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContentTabla"
                                    aria-controls="navbarSupportedContentTabla" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon icono_menu_nav text-center"></span>
                                </button>

                                <div class="collapse navbar-collapse " id="navbarSupportedContentTabla">

                                    <ul class="navbar-nav text-center nav justify-content-center ">

                                        <li class="nav-item">
                                            <a class="text-white "
                                                href="{{ routeTo('seeDetailOrder', order.id_order) }}">
                                                <img src="\images\ver_albaran.png" alt="..."
                                                    title="detalle del albaran">
                                            </a>
                                        </li>

    {% if (order.state != "Facturado")  %}
     {% if (order.state != "Realizado")  %}

                                        <li class="nav-item ">
                                            <a class="text-white " href="{{ routeTo('editOrders', order.id_order) }}">
                                                <img src="\images\edit.png" alt="..." title="editar pedido">
                                            </a>

                                        </li>

                                        <li class="nav-item ">
                                             <a class="delete-order-button" data-order-id="{{ order.id_order }}">
                                                <img src="\images\delete_white.png" alt="..."> &nbsp;&nbsp;&nbsp;
                                            </a>

                                        </li>
   {% endif %}
    {% endif %}


                                    </ul>
                                </div>

                            </nav>

                        </div>
                    </td>

                </tr>

                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {{ pager | raw }}
     <div>*Los pedidos que estan facturados o realizados no se podra eliminarlos ni editalos.El estado "Realizado" informa que se a utilizado el pedido ya para crar un albaran.</div>
    <div class="row pt-5">
        <div class="col">
            <p class=" text-center">
                <a href="{{ routeTo('listOrders') }}">
                    <img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
                </a>
                <br>
                ir a Inicio
            </p>
        </div>
    </div>

</div>
</div>

<script>

  $(document).ready(function() {

    // Obtén el botón por su clase
    $(".delete-order-button").click(function() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        });

        // Obtén el ID del cliente desde el atributo data
        var orderId = $(this).data('order-id');


        swalWithBootstrapButtons.fire({
            title: '¿Estás seguro?',
            text: "No podrás revertir esto.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, eliminarlo',
            cancelButtonText: 'No, cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Enviar una solicitud AJAX para eliminar el cliente
                $.ajax({
                    url: 'https://contenedores.grupohnosfas.com/Orders/eliminarOrden/' + orderId,
                    type: 'POST',
                    success: function(response) {
                        // Mostrar un mensaje de éxito o error según la respuesta
                        if (response.success) {

                            Swal.fire({
                                icon: 'success',
                                title: 'Eliminado',
                                text: response.message
                            }).then(() => {
                                // Redirigir después de mostrar el mensaje de éxito
                                window.location.href = 'https://contenedores.grupohnosfas.com/Orders/listar/';
                            });
                        } else {

                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message
                            });
                        }
                    },
                    error: function() {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Se produjo un error en la solicitud.'
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Tu cliente está a salvo :)',
                    'error'
                );
            }
        });
    });
});


</script>


</div>{% include 'Front/base/footer.html.twig' %}</div>{% else %}
{% include 'Front/index.html.twig' %}
{% endif %}</body>
{% endblock %}
{% block script %}{{parent(script)}}

<script>




    setTimeout(function() {
        $(".alerta_msg_orders").fadeOut(2000);
    }, 2200);
    const sorting = document.querySelector('.selectpicker');
    const commentSorting = document.querySelector('.selectpicker');
    const sortingchoices = new Choices(sorting, {
        placeholder: false,
        itemSelectText: ''
    });
    // Trick to apply your custom classes to generated dropdown menu
    let sortingClass = sorting.getAttribute('class');
    window.onload = function() {
        sorting.parentElement.setAttribute('class', sortingClass);
    }




    $(document).ready(function() {
        $('#id_customers_selection').on("change", function(event) {
            var opt = $(this).find("option:selected")
            var url = opt.data("url")
            window.location.href = url
        });
        var divToShow = document.getElementById("error");
        divToShow.style.display = "none";
    });
    $(document).ready(function() { // Configurar Select2 para el select de clientes
        $('#customer-select').select2({
            placeholder: 'Seleccione un cliente',
            allowClear: false
        });
        // Configurar llamada AJAX para obtener las direcciones de obra de un cliente seleccionado
        $('#customer-select').on('change', function() {
            var customerId = $(this).val();
            $('#work-location-select').prop('disabled', false);
            $('#work-location-select').html("");
            if (customerId != '') {
                $.ajax({
                    url: 'https://contenedores.grupohnosfas.com/Albaranes/FiltrarClientesAlbaranes/' +
                        customerId,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        if (data.length > 0) {
                            $('#work-location-select').append(
                                '<option value="">Seleccione una dirección de obra</option>'
                                );
                            $.each(data, function(index, element) {
                                $('#work-location-select').append(
                                    '<option value="' + element
                                    .id_work_locations + '">' + element
                                    .address + '</option>');
                            });
                            $('#work-location-select').prop('disabled', false);
                        }
                    }
                });
            }
        });
        $('#work-location-select').select2({
            allowClear: false
        });
        $('#id_drivers_selection').select2({
            allowClear: false
        });
    });

</script>




  <script src = "https://code.jquery.com/jquery-3.6.0.min.js" >
</script>
</script>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js">
</script>
<script src="/js/jsBootstrap.js"></script>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% endblock %}
