{% extends 'Front/base/main.html.twig' %}

{# {% block titleHeader %}
Crear un Cliente
{% endblock %} #}
{% block content %}
{% include 'Front/base/header.html.twig' %}
<link rel="stylesheet" href="/css/css_all/supplements/edit.css">

<style>


 .registrar {
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        border-bottom-right-radius: 40px 40px;
        border-bottom-left-radius: 40px 40px;
        width: 100%;
        box-shadow: none;
        font-size: 20px;
        border: none;
        background: #e78888;
    }
</style>

<div class="container mt-1">

    <div id="title_drivers">

        <div class="row">
            <div class="col-4 pl-3">
                <a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
                    <img class="ml-3 pt-4 " src="\images\arrow_white_izq.png" alt="...">
                </a>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>

        <div class="cssscan">
            <p>
                {% for supplement in supplements %}
                {# <img class="rounded mx-auto d-block m-3" src="\images\paquetes_white.png" alt="..."> #}

                <h4 class="display-4 text-center ">Suplementos
                </h4>
                <p class=" texto_titulo ">Modificar el Suplemento
                </p>
            </p>
            </p>

            <img src="\images\header_supp.svg" alt="...">
        </div>
    </div>

    <form action="{{ routeTo('editSuplementsSave', supplement.id_supplements) }}" method="POST">
        <div class="cuerpo_supp mt-2">

            <div class="row m-4">
                <div class="col-sm">
                    <div class="field field_v2">
                        <label for="name" class="ha-screen-reader"></label>
                        <input id="name" class="field__input" placeholder="{{ supplement.name }}" name="name"
                            value="{{ supplement.name }}">
                        <span class="field__label-wrap" aria-hidden="true">
                            <span class="field__label">Nombre
                            </span>
                        </span>
                    </div>
                    <p class="text-danger">{{ msg('errors.name') }}</p>
                </div>

                <div class="col-sm">
                    <div class="field field_v2">
                        <label for="pvp" class="ha-screen-reader"></label>
                        <input id="pvp" class="field__input" placeholder="{{ supplement.pvp }}" name="pvp"
                            value="{{ supplement.pvp }}">
                        <span class="field__label-wrap" aria-hidden="true">
                            <span class="field__label">Precio
                            </span>
                        </span>
                    </div>
                    <p class="text-danger">{{ msg('errors.pvp') }}</p>
                </div>

            </div>

            {% endfor %}

            <div class="row mt-5" style="height:150px;">
                    <div class="col-md">

                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-md">
                                <button class="registrar mt-3 pt-3 pb-3 text-white"
                                    type="submit">REGISTRAR</button>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>

            <p class=" text-center mt-5">
                <a href="{{ routeTo('listSuplements') }}">
                    <img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
                </a>
                <br> Volver a la lista de Suplementos
            </p>

        </div>

    </form>

</div>

</div>
</div>
{% include 'Front/base/footer.html.twig' %}
</body>
{% endblock %}{% block script %}{{parent(script)}}
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
<script>

</script>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>{% endblock %}
