{% extends 'Front/base/main.html.twig' %}

{% block titleHeader %}
Ver cliente
{% endblock %}
{% block content %}
  {% include 'Front/base/header.html.twig' %}

<style>
     a:hover {
        text-decoration: none;
    }

    a {
        text-decoration: none !important;


    }

    .texto_negrita {
        font-weight: 900;
    }

    .form-control {
        border: 2px solid #c2fbd7 !important;
        border-radius: 30px !important;
        height: 3rem;
    }

    .listar_todos {
        text-decoration: none;
        color: black !important;
    }

    .listar_todos a {
        text-decoration: none !important;
        color: black !important;
    }

    .pagination {
        list-style: none;
        text-align: center;
    }





    .pagination li {
        list-style: none;
        text-align: center;
        padding: 10px;
        /* border: 1px solid gray; */
        color: gray;
        margin-left: 2px;
        background: #a2a2a212;
        border-radius: 10px;

    }


    .buttonSearch {
        background: none;
        max-width: 40px;

    }



    .listar {
        height: 3rem;
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        border-bottom-right-radius: 40px 40px;
        border-bottom-left-radius: 40px 40px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        background: #c2fbd7;
        color: black;

    }


    .display-4 {
        display: inline;

        padding-left: 30px;
    }

    .titulo_contenedores {

        border: 1px solid red;
    }

    .texto_titulo {

        padding-left: 30px;
    }

    .cssscan:not(.img-as-jpg) img {
        top: 14%;
        right: -37%;
        width: 95%;
        height: 95%;
    }

    .cssscan img {
        position: absolute;
        transform: rotate(-7deg);
        transition: all .3s;
    }

    .cssscan {
        padding: 2rem;
        background: #fff;
        border-radius: 24px;
        position: relative;
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 10%) 0 1px 2px 0;
        cursor: pointer;
        /* margin-top: 3em;*/
        font-size: 19px;
        text-align: left;
    }

    .regresar {

        background-color: none !important;
    }



    .card_contenedor {

        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        /*    border: 2px solid #c2fbd7 !important;*/

    }

    .card_contenedor_footer {

        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;
        background-color: #c2fbd7;
    }


    #th_customers1 {
        background: none;

        border-top-left-radius: 20px 20px !important;
        text-align: center;
    }

    #th_customers2 {
        background: none;
        border-top-right-radius: 20px 20px !important;

        text-align: left;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: none !important;
        background-clip: none !important;
        border: none !important;
        border-radius: none !important;
    }


    .cont_card {
        max-width: 280px;
        min-width: 280px;
    }

    .row-list {
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;

        padding: 10px;
    }

    .span_num {
        font-size: 1.2rem;
        color: #006562;
        font-weight: bold;
        font-family: 'Black Han Sans', sans-serif !important;
        font-family: 'Nunito', sans-serif !important;
    }


    .imagen_contenedor {

        border-top-left-radius: 20px 20px !important;
        border-top-right-radius: 20px 20px !important;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;

    }

    .cuerpo_contenedores_ver_dertalle {

        padding: 20px;
        border-bottom-left-radius: 30px 30px;
        border-bottom-right-radius: 30px 30px;
        border-top-left-radius: 30px 30px;
        border-top-right-radius: 30px 30px;
        background: rgb(251 251 251);
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    }

    .rounded-start {
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;
    }

    .titulo_info {

        background: #c2fbd7;
        color: #42b364;
        font-size: 1.9em;
        border-top-left-radius: 30px 30px;
        border-top-right-radius: 30px 30px;


    }

    .texto {
        font-size: 1.2em;
    }

    .col-description {
        background-color: #fff;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;
    }

    .iconos {
        width: 50px;
        height: 50px;
        color: #00b45f !important;

    }

    .links a {
        color: #00b45f !important;
    }

    .links a.hover {
        color: #00b45f !important;
    }

    .links {
        color: #00b45f !important;
    }

    .detalle_cliente {
        padding: 15px;
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;
        background-color: #fff;

        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    }

    .header_table_info {
        border-top-left-radius: 20px 20px !important;
        border-top-right-radius: 20px 20px !important;

    }

    .boton_icono {
        border-color: transparent;
        border-radius: 1rem;
        height: 3rem;
        width: 3.3rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        background-color: #fff;
        margin-left: 15px;
    }

    .fuente-texto {
        font-size: 1rem;
    }

    table {

        border: none !important;
    }

    th {
        border: none !important;
        text-align: left;
    }

    tr {
        border: none !important;
        text-align: left;
    }

    td {
        border: none !important;
    }

    .tr_estilo {
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;
        background-color: none;


    }



    table {

        border: none !important;

    }

    .div_hermanos_fas {

        padding-top: 10px;
        padding-bottom: 10px;
        border-top-left-radius: 20px 20px;
    }

    .div_customers {
        border-left: 2px solid #587ffc4a;
        border-bottom: 2px solid #587ffc4a;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .div_info {

        margin-top: 20px;
        ;
        font-size: 0.8em;
        ;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-right-radius: 20px 20px;

    }

    .div_total {

        padding-top: 10px;
        padding-bottom: 10px;

    }

    .text_customers {
        color: #111c44;
        font-size: 0.8rem;

    }



    .otros {
        border: 1px solid #7e8d9f3b;
        height: 60px;
        border-bottom-left-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        border-top-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;

    }

    .rellenar {
        border: 1px solid #7e8d9f3b;
        height: 150px;
        font-size: 1rem;
        font-weight: 400;
        border-bottom-left-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
        border-top-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;

    }

    hr:not([size]) {
        height: 1px;
        color: #587ffc;
    }

    .table>:not(caption)>*>* {
        padding: 0rem 0rem;
        background-color: none;

        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    .img_logo {
        border-bottom-left-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;


    }

    .title_tot {
        margin-top: 20px;
        font-size: 0.8rem;

    }


    .titulo_bills_view {
        border-top-left-radius: 30px 30px;
        border-top-right-radius: 30px 30px;
        border-bottom-left-radius: 30px 30px;
        border-bottom-right-radius: 30px 30px;
        background: #fff;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .contenedor {
        border-bottom-left-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .title {
        color: #545454 !important;
    }


    /* CSS */
    .button-30 {
        max-width: 250px;
        min-width: 250px;
        align-items: center;
        appearance: none;
        background-color: #FCFCFD;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395A;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 12px;
    }

    .button-30:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .button-30:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-30:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

    .footer_text {
        font-size: 0.8rem;
    }

    .tabla {
        font-size: 0.8em;
    }

    .text-title-factura {
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 5px;
        color: #4d8f24;
    }


    .title_creada {
        color: #04BDFD;
    }


    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-accent-bg: #fff;
        color: var(--bs-table-striped-color);
    }

    .text_adress {
        color: #00b45f;
    }
</style>

<div class="container mt-1">

    <div class="titulo_bills_view">

        <div class="row">
            <div class="col-4 pl-3"><a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
                    <img class="ml-3 pt-4 " src="\images\arrow_black_izq.png" alt="...">
                </a></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>

        <div class="cssscan">
            <p>
                <h4 class="display-4 text-center title">Pro Forma</h4>
                <p class=" texto_titulo text-white title"> Gestion de facturas</span>
                </p>
            </p>

            <img src="\images\svg_black.svg" alt="...">
        </div>
    </div>
     {% include 'Front/base/Albaranes/msgAlbaranes.html.twig' %}

    <div class=" ">

        <div class="row m-0 ">

            <div class="card-body card_albaran">

                <div class="row">

                    <div class="col-sm-2">

                    </div>

                    <div class="col-sm-8 text-center">
                        <a class=" " href="{{ routeTo('billsCreated') }}">

                            <button type="button" class="p-3 mb-2 text-left button-30 ">

                                <img src="\images\icons_invoice_grenn.png" alt="..."> &nbsp; Generar factura
                            </button>
                        </a>

                        <a class=" " href="{{ routeTo('proForma') }}">

                            <button type="button" class="p-3 mb-2 text-left button-30 ">
                                <img src="\images\icons_proforma.png" alt="..."> &nbsp;Generar Proforma
                            </button>
                        </a>

                        {# <a class=" " href="{{ routeTo('imprimePdfAlbaran',albaran.id_albaran) }}">

                            <button type="button" class="p-3 mb-2 text-left  button-30 ">
                                <img src="\images\icon_pdf.png" alt="..."> &nbsp;Generar el PDF
                            </button>
                        </a> #}

                        <div class="col-sm-2">

                        </div>

                    </div>

                </div>

                <div class="container mb-5 col-10 mt-3 contenedor pt-3">

                    <div class="row">

                        <div class="col-sm-4 div_info">

                            <span class="text_customers mt-2"> <b> TOT PER CONSTRUIR 2012, S.L.</b></span><br>

                            <span class="text_customers"> C.I.F.: DB-98474497 NIMA: </span><br>

                            <span class="text_customers">Dirección: Calle Rio Guadalaviar, 6. Quart de Poblet
                                (Valencia)</span><br>

                            <span class="text_customers"> CP: 46930 – Teléfono: 961391755 – 656414748</span><br>

                            <span class="text_customers">Correo electrónico: gestion@tpc2012.es Página web:
                                www.tpc2012.es </span> <br>

                        </div>

                        <div class="col-sm-3  text-center">

                            <img class="img_logo text-center" src="\images\logo.jpg" style="width:151px;heigth:140px;"
                                alt="...">

                        </div>

                        <div class="col-sm-5 div_info">

                            . Recogida y transporte de residuos no peligrosos<br>
                            · Recogida y destruccion de documentacion confidencial<br>
                            · Alquiler de maquinaria de obra publica con conductor especializado<br>
                            · Suministro y transporte de aridos en camion de gran tonelaje<br>

                        </div>
                    </div>

                    {% for customer in customers %}
                    <div class="row">

                        <div class="col-sm-4 div_info">

                            <span class="text_adress"><em> Direccion de Fiscal</em></span>
                            <br>

                            <span class="text_customers mt-2"> <b>{{ customer.names|upper }}</b></span><br>

                            <span class="text_customers"> {{ customer.dni }} </span><br>

                            <span class="text_customers">Dirección: {{ customer.address }}, {{ customer.location }},
                                {{ customer.province }}.
                            </span><br>

                            <span class="text_customers"> CP: {{ customer.zip_code }}, Teléfono:
                                {{ customer.phone }}</span><br>

                        </div>

                        <div class="col-sm-3  text-center">

                        </div>

                        <div class="col-sm-5 div_info">

                            <span class="text_adress"><em> Direccion de Correspondencia</em></span><br>

                            <span class="text_customers mt-2"> <b>{{ customer.names|upper }}</b></span><br>

                            <span class="text_customers"> {{ customer.dni }} </span><br>

                            <span class="text_customers">Dirección: {{ customer.address }}, {{ customer.location }},
                                {{ customer.province }}.
                            </span><br>

                            <span class="text_customers"> CP: {{ customer.zip_code }}, Teléfono:
                                {{ customer.phone }}</span><br>

                        </div>
                    </div>

                    <div class="row p-0 justify-content-left">

                        <div class="col-sm-4  p-0 col_text-title-factura">
                            <span class="text-title-factura p-1">Factura&nbsp;</span>

                        </div>
                    </div>

                    <div class="row justify-content-center">

                        <table class="table table-striped table-borderless tabla">

                            <thead style="color:#4d8f24;">
                                <tr>
                                    <th scope="col" class="">&nbsp;&nbsp;Fecha
                                    </th>
                                    <th scope="col" class="text-black">&nbsp;&nbsp;{{ date_today }}</th>

                                    <th scope="col" class="">&nbsp;&nbsp;Cliente</th>
                                    <th scope="col" class="text-black"> &nbsp;&nbsp;{{ customer.id_customer }}</th>
                                    <th scope="col" class="">&nbsp;&nbsp; Teléfono/Fax</th>
                                    <th scope="col" class="text-black">&nbsp;&nbsp;{{ customer.phone }}</th>

                                </tr>
                            </thead>

                            <thead style="color:#4d8f24;">
                                <tr>
                                    <th scope="col" class="">&nbsp;&nbsp;Numero
                                    </th>

                                    <th scope="col" class="">(Se genera al dar boton generar factura)
                                    </th>

                                    <th scope="col" class="">&nbsp;&nbsp;CIF/NIF</th>
                                    <th scope="col" class="text-black"> &nbsp;&nbsp;{{ customer.dni }}</th>

                                </tr>
                            </thead>

                        </table>

                    </div>

                    {% endfor %}

                    <div class="row justify-content-center">

                        <table class="table table-striped table-borderless tabla">

                            <thead style="background-color:#4d8f24;" class="text-white ">
                                <tr>
                                    <th scope="col" class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;Codigo
                                    </th>
                                    <th scope="col" class="text-center">Cantidad</th>

                                    <th scope="col" class="text-center">Descripcion</th>
                                    <th scope="col" class="text-center">Precio</th>
                                    <th scope="col" class="text-center"> % Dto.</th>
                                    <th scope="col" class="text-center"> Imp.Dto.</th>
                                    <th scope="col" class="text-center">Importe</th>

                                </tr>
                            </thead>

                            {% for arraysIdsAlbarane in id_albaranes_selected %}
                            {% if ( arraysIdsAlbarane.active == 1 ) %}

                            <tbody>
                                <tr>
                                    <td scope="col" class=" text-center text-black">

                                        &nbsp;&nbsp;&nbsp;&nbsp;04112
                                        {# {{ arraysIdsAlbarane.code  }}

                                        {{ arraysIdsAlbarane.pvp  }} #}

                                    </td>

                                    <td scope="col" class=" text-center text-black">
                                        1</td>
                                    <td scope="col" class=" text-center text-black">
                                        <b>Servicio Nº(Albaran) {{ arraysIdsAlbarane.id_albaran }} de Fecha:
                                            {{ date_today }}</b>
                                        <br>
                                        {% for worklocation in worklocations %}
                                        Obra: {{ id_work_location }} - {{ worklocation.address }}
                                        {{ worklocation.location }}

                                        {% endfor %}
                                        <br>
                                        Contenedor: {{ arraysIdsAlbarane.id_container }} -
                                        {{ arraysIdsAlbarane.cubic_meters }}m3

                                        {% if ( arraysIdsAlbarane.clean_dirty == 0 ) %}
                                        ESCOMBRO SUCIO
                                        {% endif %}
                                        <br>

                                         {{ arraysIdsAlbarane.supplements }}
                                    </td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.tax_base }}</td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.id_albaran }}</td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.id_albaran }}</td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.id_albaran }}</td>

                                </tr>

                                {% endif %}
                                {% endfor %}

                                {% for arraysIdsAlbarane in id_albaranes_selected %}
                                {% if ( arraysIdsAlbarane.active == 1 ) %}

                                <tr>
                                    <td scope="col" class=" text-center text-black">

                                        &nbsp;&nbsp;&nbsp;&nbsp; 04251
                                    </td>

                                    <td scope="col" class=" text-center text-black">
                                        1</td>
                                    <td scope="col" class=" text-center text-black">
                                        {{ arraysIdsAlbarane.supplements }}

                                    </td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.tax_base }}</td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.id_albaran }}</td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.id_albaran }}</td>
                                    <td scope="col" class=" text-center text-black">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{ arraysIdsAlbarane.id_albaran }}</td>

                                </tr>

                                {% endif %}
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>

                    <div class="row justify-content-center">

                        <table class="table table-striped table-borderless tabla">

                            <thead style="background-color:#4d8f24;" class="text-white ">
                                <tr>
                                    <th scope="col" class="text-center">Total Bruto
                                    </th>
                                    <th scope="col" class="text-center">Suma Dtos.</th>
                                    <th scope="col" class="text-center"> % Dto. Com.</th>
                                    <th scope="col" class="text-center"> % Dto. P.P</th>

                                    <th scope="col" class="text-center">BASE IMPONIBLE</th>
                                    <th scope="col" class="text-center">% I.R.P.F.</th>

                                    <th scope="col" class="text-center">% I.V.A.</th>
                                    <th scope="col" class="text-center">Cuota</th>
                                    <th scope="col" class="text-center">TOTAL</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <th scope="col" class="text-center">200.00 </th>

                                    <th scope="col" class=" text-center">
                                        -</th>

                                    <th scope="col" class=" text-center">
                                        -</th>

                                    <th scope="col" class=" text-center">
                                        -
                                    </th>

                                    <th scope="col" class=" text-center">
                                        200.00</th>

                                    <th scope="col" class=" text-center">
                                        -
                                    </th>

                                    <th scope="col" class=" text-center">
                                        10.00</th>

                                    <th scope="col" class=" text-center">
                                        20.00
                                    </th>
                                    <th scope="col" class=" text-center">
                                        200.00</th>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                    <div class="row justify-content-center">

                        <table class="table table-striped table-borderless tabla">

                            <thead style="color:#4d8f24;">
                                <tr>
                                    <th scope="col" class="">&nbsp;&nbsp;Anticipos:
                                    </th>
                                    <th scope="col" class="text-black">&nbsp;&nbsp;649.50</th>

                                    <th scope="col" class="">&nbsp;&nbsp;Cargos:</th>
                                    <th scope="col" class="text-black"> &nbsp;&nbsp;220.00</th>
                                    <th scope="col" class="">&nbsp;&nbsp; Saldo:</th>
                                    <th scope="col" class="text-black">&nbsp;&nbsp;−429.50</th>

                                    <th scope="col" class="text-white" style="color:#4d8f24;background-color:#4d8f24;">
                                        &nbsp;&nbsp; TOTAL FACTURA</th>
                                    <th scope="col" class="text-white" style="color:#4d8f24;background-color:#4d8f24;">
                                        &nbsp;&nbsp;220.00 EUR</th>

                                </tr>
                            </thead>

                        </table>

                    </div>

                    <div class="row justify-content-center p-0">

                        <div class="col-sm-4 p-0">

                            <table class="table table-striped table-borderless tabla ">
                                <thead style="color:#4d8f24;">
                                    <th>&nbsp;&nbsp;Forma de Pago </th>
                                    <th class="text-black">&nbsp;&nbsp;Efectivo</th>

                                </thead>
                                <thead style="color:#4d8f24;">
                                    <th class="">&nbsp;&nbsp;Domiciliación </th>
                                    <th class="text-black">&nbsp;&nbsp;-</th>
                                </thead>
                                <thead style="color:#4d8f24;">
                                    <th class="">&nbsp;&nbsp;Vencimientos </th>
                                    <th class="text-black">&nbsp;&nbsp;03/02/2023</th>
                                </thead>
                                <thead style="color:#4d8f24;">
                                    <th class="">&nbsp;&nbsp;Importes </th>
                                    <th class="text-black">&nbsp;&nbsp;220.00</th>
                                </thead>
                            </table>

                        </div>
                        <div class="col-8"> </div>

                    </div>

                    <hr>
                    <div class="row">
                        <div class="col footer_text">
                            <p>Sociedad inscrita en el R.M. de Valencia Tomo 9526, Libro 6808, Folio 135, Seccion 8,
                                Hoja V150416 CIF B98474497
                                TOT PER CONTRUIR 2012,S.L. es el Responsable del tratamiento de los datos personales
                                proporcionados bajo su consentimiento y le informa que estos datos serán tratados de
                                conformidad con lo dispuesto en el
                                Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR), con la finalidad de mantener una
                                relación comercial y conservarlos mientras exista un interés mutuo para mantener el fin
                                del tratamiento y cuando ya no sea
                                necesario para tal fin, se suprimirán con medidas de seguridad adecuadas para garantizar
                                la seudonimización de los datos o la destrucción total de los mismos. No se comunicarán
                                los datos a terceros, salvo obligación
                                legal. Asimismo, se informa que puede ejercer los derechos de acceso, rectificación,
                                portabilidad y supresión de sus datos y los de limitación y oposición a su tratamiento
                                dirigiéndose a TOT PER CONTRUIR
                                2012,S.L.en C/ RIO GUADALAVIAR, Nº 4−6. Email: conmagar@tpc2012.es y el de reclamación a
                                www.agpd.es.
                            </p>

                        </div>

                    </div>

                </div>

                <p class=" text-center mt-5">
                    <a href="{{ routeTo('listCustomers') }}">
                        <img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
                    </a>
                    <br> Volver a la lista de Clientes
                </p>

            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block script %}
{{parent(script)}}
<script>
    setTimeout(function() {
        $(".alerta_msg_albaranes").fadeOut(2000);
    }, 2200);
</script>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

{% endblock %}
