{% extends 'Front/base/main.html.twig' %}

{% block titleHeader %}
Listar clientes
{% endblock %}
{% block content %}
  {% include 'Front/base/header.html.twig' %}

<style>
    .boton_add_cliente {
        /*   width: 4rem;*/
        height: 4rem;
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        border-bottom-right-radius: 40px 40px;
        border-bottom-left-radius: 40px 40px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        background: #FA8072;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }

    a:hover {
        text-decoration: none;
    }

    a {
        text-decoration: none !important;

    }

    .texto_negrita {
        font-weight: 900;
    }

    .form-control {
        border: 2px solid #FA8072 !important;
        border-radius: 30px !important;
        height: 3rem;
    }

    .listar_todos {
        text-decoration: none;
        color: black !important;
    }

    .listar_todos a {
        text-decoration: none !important;
        color: black !important;
    }

    .pagination {
        list-style: none;
        text-align: center;
    }

    button {
        background: none;
        width: 100% !important;

    }

    .pagination li {
        list-style: none;
        text-align: center;
        padding: 10px;
        /* border: 1px solid gray; */
        color: gray;
        margin-left: 2px;
        background: #a2a2a212;
        border-radius: 10px;

    }


    .buttonSearch {
        background: none;
        max-width: 40px;

    }

    .navbar {
        /* position: relative; */
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .listar {
        height: 3rem;
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        border-bottom-right-radius: 40px 40px;
        border-bottom-left-radius: 40px 40px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        background: #FA8072;
        color: white !important;

    }


    .display-4 {
        display: inline;

        padding-left: 30px;
    }

    .titulo_contenedores {

        border: 1px solid red;
    }

    .texto_titulo {

        padding-left: 30px;
    }

    .cssscan:not(.img-as-jpg) img {
        top: 14%;
        right: -37%;
        width: 95%;
        height: 95%;
    }

    .cssscan img {
        position: absolute;
        transform: rotate(-7deg);
        transition: all .3s;
    }

    .cssscan {
        padding: 2rem;
        background: #FA8072;
        border-radius: 24px;
        position: relative;
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 10%) 0 1px 2px 0;
        cursor: pointer;
        /* margin-top: 3em;*/
        font-size: 19px;
        text-align: left;
    }

    .regresar {

        background-color: none !important;
    }

    .table {
        --bs-table-bg: transparent;
        --bs-table-accent-bg: #5bff9d70;
    }


    .card_contenedor {
        max-width: 300px;
        min-width: 250px;
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        /*    border: 2px solid #c2fbd7 !important;*/
    }

    .card_contenedor_footer {
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px !important;
        border-bottom-left-radius: 20px 20px !important;

        /*    border: 2px solid #c2fbd7 !important;*/
        background-color: #f9f9f9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


    .span_num {
        padding-top:10px;
        padding-bottom:10px;
        font-size: 1.3rem;
color:#d7624a;
        font-weight: bold;
        font-family: 'Black Han Sans', sans-serif !important;
        font-family: 'Nunito', sans-serif !important;
        text-align:center;

    }

    .row-list {
        text-align: center;
    }

    .texto_card {
        text-align: left;
    }



    .display-4 {
        display: inline;

        padding-left: 30px;
    }

    .titulo_clientes {

        border: 1px solid red;
    }

    .texto_titulo {

        padding-left: 30px;
    }

    .contact {
        background: #fa807221;

    }

    .icon-bg {

        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
        /*   background:#F08080;*/

    }

    .container_clientes {
        background: #fbfafa;
    }

    .imagen {
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
    }
</style>

<body class="container_clientes">

    <div class="container ">

        <div id="titulo_clientes">

            <div class="row">
                <div class="col-4 pl-3"><a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
                        <img class="ml-3 pt-4 " src="\images\arrow_white_izq.png" alt="...">
                    </a></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>

            <div class="cssscan">
                <p>
                    <h4 class="display-4 text-white text-center ">Listado de  Clientes</h4>
                    <p class=" texto_titulo text-white"> Gestion de Clientes dar de alta, modificar y listar</span>
                    </p>
                </p>

                <img src="\images\clientesvg.svg" alt="...">
            </div>
        </div>

        <div class="cuerpo_contenedores mt-2">

            <div class="row p-2 mb-3 justify-content-center justify-content-md-start">

                <div class="col-4 "> </div>

                <div class="col-sm-4 pb-3">

                    <a class="text-center" href="{{ routeTo('showFormCustomers') }}">
                        <span class=" mx-auto d-block text-center boton_add_cliente">

                            <img class=" pt-3" src="\images\add_1.png" alt="...">

                        </span>
                    </a>
                </div>

                <div class="col-4 "> </div>
            </div>

            <div class="row mt-3">

                <div class="col-sm-4">
                    <form action="{{ baseUrl('searchforIdPaq') }}" method="POST">
                        <div class="row ">
                            <div class="col-8">
                                <i class="fa fa-user icon"></i>
                                <input type="text" class="form-control text-left mr-2 " name="id_package_code"
                                    placeholder="Buscar un cliente ">
                                <p class="pl-2 text-danger text-center">{{ msg('errors.id_package_code') }}</p>

                            </div>
                            <div class="col-4">
                                <button class="pt-1 buttonSearch" type="submit"> <img class="img-fluid"
                                        src="\images\search.png" alt="..."></button>
                            </div>

                        </div>{#row#}

                    </form>
                </div>

                <div class="col-sm-4 ">
                    <form action="{{ baseUrl('searchPackageforDateC') }}#sectionTable" method="POST">
                        <div class="row ">
                            {# <p id="list_pallet_buscar_texto text-center p-1">BUSCAR POR FECHAS CREACION</p>#}

                            <div class="col-8 msj">
                                <input type="date" class="form-control text-left ml-2 " name="fechaIni"
                                    placeholder="Fecha de final">
                                <label class="ml-3 form-control-placeholder" id="end-p" for="end"></label>
                                <span class="pl-2 text-danger text-center">{{ msg('errors.fechaIni') }}</span>
                            </div>

                            <div class="col-4">
                                <button class="pt-1 buttonSearch" type="submit">
                                    <img class="img-fluid" src="\images\search.png" alt="..."></button>
                            </div>

                        </div>{#row#}
                    </form>
                </div>

                <div class="col-sm-4 ">

                    <div class="text-center listar ">

                        <a class=" text-center " href="{{ routeTo('listPackages') }}#sectionTable">
                            <p class="pt-3 font-weight-bold">
                                <span class="font-weight-bold text-white listar_todos">Listar todos los
                                    Contenedores</span>
                            </p>

                        </a>

                    </div>{#row#}

                </div>

            </div>{# row#}

            <div class="row row-list m-0">

                {% for cliente in clientes %}

                <div class="col mb-1 cont_card m-1 p-0 ">

                    <div class="card_contenedor p-2  ">

                        <div class="col-sm pt-2 text-center ">

                            <div class="text-center icon-bg">
                                <img src="\images\icono_cliente.png" alt="" style="width:130px; height: 120px"
                                    class="imagen text-center" />
                            </div>

                            <div class="p-2 texto_card">

                                <p class=" span_num mb-0"> {{ cliente.nombre }}</p>

                                <p class="mb-0"> <span class="fw-bold">Telefono:</span> {{ cliente.telefono }}
                                </p>

                                <p class=" mb-0"> <span class="fw-bold">Email:</span>
                                    {{ cliente.mail }}</p>

                                <p class=" mb-0"> <span class="fw-bold">Poblacion</span>
                                    {{ cliente.poblacion }}</p>

                                <p class="f mb-0"> <span class="fw-bold">Fecha de creacion:</span>
                                    {{ cliente.created_at | date('d/m/y') }}</p>

                            </div>

                            <div class="col mb-1 cont_card_footer p-2">

                                <div class=" card_contenedor_footer p-2">

                                    <p class="f mb-0">
                                        &nbsp;

                                        <span class="fw-bold">
                                            <a class="text-white "
                                                href="{{ routeTo('seeDetailCustomers', cliente.id_cliente) }}">
                                                <img src="\images\ver_2_cliente.png" alt="..." title="ver detalle">
                                            </a>
                                        </span>
                                        &nbsp;&nbsp;

                                        <span class="fw-bold">
                                            <a class="text-white "
                                                href="{{ routeTo('updatePallets', cliente.id_cliente) }}">
                                                <img src="\images\location_cliente.png" alt="..."
                                                    title="Asignar a una direccion">
                                            </a>
                                        </span>&nbsp;&nbsp;

                                        <span class="fw-bold">
                                            <a class="text-white "
                                                href="{{ routeTo('updateContainers', cliente.id_cliente) }}">
                                                <img src="\images\edit_cliente.png" alt="..." title="editar">
                                            </a>
                                        </span>&nbsp;&nbsp;

                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="row pt-5">
                <div class="col">
                    <p class=" text-center">
                        <a href="{{ routeTo('home') }}">
                            <img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
                        </a>
                        <br> ir a Inicio
                    </p>
                </div>
            </div>

            {{ pager | raw }}
        </div>
    </div>

</body>
{% endblock %}

{% block script %}

<script src="/js/jsBootstrap.js"></script>

<script>

</script>

{% endblock %}
