{% extends 'Front/base/main.html.twig' %}

{% block titleHeader %}
	Iniciar sesión
{% endblock %}

{% block content %}
	{% include 'Front/base/header.html.twig' %}

        <link rel="stylesheet" href="/css/css_all/index.css">

	<link rel="stylesheet" href="/public/css/css_all/index.css">
<style>


  .section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }

  .centered-div {

width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Estilos adicionales para el div centrado */
  }

</style>

<body style="background-image: url('/images/fondos_index/fondo1.jpg'); background-repeat: no-repeat;
    background-position: center;background-size: cover;
  ">
    <section class="section_container">

        <div class="centered-div">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-xl-12 text-center">
                    <div class="card rounded-3 text-white">
                        <div class="row g-0">
                            <div class="col-lg-6 gradient-custom-1">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">

                                        <h4 class="mb-4 display-6 text-white">
                                       CAMBIAR CONTRASEÑA</h4>

										</div>

										<form class=" text-white" action="{{ baseUrl('changePassword') }}" method="POST">


											<h4 class="mb-2 mt-2 text-center">Hola {{ session('name') }}</h4>
											<p>Cambiar mi contraseña</p>


											<div class="field field_v2">
												<label for="names" class="ha-screen-reader"></label>
												<input type="password" id="names" class="field__input" placeholder=" " name="password">
												<span class="field__label-wrap" aria-hidden="true">
													<span class="field__label">Password
													</span>
												</span>
											</div>
											 <p class="text-danger"><span
                                                class="bg-warning">{{ msg('errors.password') }}</span></p>



											<div class="field field_v2">
												<label for="names" class="ha-screen-reader"></label>
												<input type="password" id="names" class="field__input" placeholder=" " name="c-password">
												<span class="field__label-wrap" aria-hidden="true">
													<span class="field__label">Confirmar Password
													</span>
												</span>
											</div>
                                             <p class="text-danger"><span
                                                class="bg-warning">{{ msg('errors.c-password') }}</span></p>



											<div class="text-center pt-1 mb-5 pb-1">
												<button class="button_login mb-3 text-white" type="submit">Cambiar
												</button>

											</div>



										</form>

										<div class=" align-items-center justify-content-center">
											<a class='text-white ' href='{{ routeTo('home') }}'>
												<button type="button" class="button_login text-white">Inicio</button>
											</a>
										</div>
										{% include 'Front/base/login/msgResetePassword.html.twig' %}

									</div>
								</div>
								  <div class="col-lg-6 d-flex align-items-center gradient-custom-2 columna-izq">
                                <div class="text-white text-center">

                                    <img src="\images\logo\logos4.png" width="80%" height="80%" alt="logo">

                                    <h4 class="mb-4 display-6 text-center" style="font-size:2rem !important;">
                                        GESTION DE CONTENEDORES</h4>
                                    <p class="small mb-0 text-center">Aqui podra registrar, editar o eliminar
                                        contendores,
                                        servicios, suplementos,
                                        conductores, vehiculos facturas y albaranes.
                                    </p>
                                </div>
                            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</body>




{% endblock %}
{% block script %}
	{{parent(script)}}

	<script>
		setTimeout(function () {
$(".alerta_msg_reset").fadeOut(2000);
}, 2200);
	</script>

	<script src="/js/jsBootstrap.js"></script>

	<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

	<script src="/public/js/index/bootstrap.min.js"></script>
	<script src="/public/js/index/popper.min.js"></script>
	<script src="/public/js/index/bootstrap.min.js"></script>
	<script src="/public/js/index/main.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- switch -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{% endblock %}
