{% extends 'Front/base/main.html.twig' %}

{# {% block titleHeader %}
Crear un Cliente
{% endblock %} #}

{% block content %}
  {% include 'Front/base/header.html.twig' %}

  <link rel="stylesheet" href="/css/css_all/vehicles/create.css">

<body class="container_clientes">
    <div class="container mt-1">

        <div id="title_vehicle">

            <div class="row">
                <div class="col-4 pl-3"><a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
                        <img class="ml-3 pt-4 " src="\images\arrow_white_izq.png" alt="...">
                    </a></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>

            <div class="cssscan">
                <p>
                    <h4 class="display-4 text-white text-center ">Dar de alta un Vehiculo</h4>
                    <p class=" texto_titulo text-white"> Gestion de Vehiculos</span>
                    </p>
                </p>

                <img src="\images\conductor_header_.svg" alt="...">
            </div>
        </div>



        <form action="{{ baseUrl('addVehicle') }}" method="POST">

            <div class="cuerpo_vehicle mt-1">

                <div class="row">
                    <div class="col">
                        <div class="col-sm">
                            <div class="field field_v2">
                                <label for="car_registration" class="ha-screen-reader"></label>
                                <input id="car_registration" class="field__input" placeholder=" "
                                    name="car_registration">
                                <span class="field__label-wrap" aria-hidden="true">
                                    <span class="field__label">Matricula </span>
                                </span>
                            </div>
                            <p class="text-danger">{{ msg('errors.car_registration') }}</p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="col-sm">
                            <div class="field field_v2">
                                <label for="name" class="ha-screen-reader"></label>
                                <input id="name" class="field__input" placeholder=" " name="name">
                                <span class="field__label-wrap" aria-hidden="true">
                                    <span class="field__label">Nombre</span>
                                </span>
                            </div>
                            <p class="text-danger">{{ msg('errors.name') }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-sm">
                            <div class="field field_v2">
                                <label for="make" class="ha-screen-reader"></label>
                                <input id="make" class="field__input" placeholder=" " name="make">
                                <span class="field__label-wrap" aria-hidden="true">
                                    <span class="field__label">Marca</span>
                                </span>
                            </div>
                            <p class="text-danger">{{ msg('errors.make') }}</p>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="col-sm">
                            <div class="field field_v2">
                                <label for="model" class="ha-screen-reader"></label>
                                <input id="model" class="field__input" placeholder=" " name="model">
                                <span class="field__label-wrap" aria-hidden="true">
                                    <span class="field__label">Modelo </span>
                                </span>
                            </div>
                            <p class="text-danger">{{ msg('errors.model') }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-sm">
                            <span>Fecha de Registro</span>
                            <div class="input-group  field field_v2">

                                <input type="date" class="form-control text-left " name="registration_date"
                                    placeholder="Fecha de Produccion">
                                <label class="ml-3 form-control-placeholder" id="start-p" for="start">
                                </label>
                                <span class="fa fa-calendar" id="fa-1"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="col-sm">
                            <span>Fecha de ITV</span>
                            <div class="input-group  field field_v2">

                                <input type="date" class="form-control text-left " name="date_itv"
                                    placeholder="Fecha de Produccion">
                                <label class="ml-3 form-control-placeholder" id="start-p" for="start">
                                </label>
                                <span class="fa fa-calendar" id="fa-1"></span>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row mt-4 mb-4">

                    <div class="col-6">
                        <label for="exampleFormControlTextarea1" class="p-2">Observaciones</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="observations"> </textarea>
                        <p class="text-danger">{{ msg('errors.observations') }}</p>
                    </div>
                    <div class="col-6"> </div>
                </div>

                       <div class="row mt-5">

                    <div class="col-md">

                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-md">
                                <button class="button_vehicle mt-3 pt-3 pb-3  text-white" id="enviar"
                                    type="submit">REGISTRAR</button>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>

                <p class=" text-center mt-5">
                    <a href="{{ routeTo('listVehicle') }}">
                        <img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
                    </a>
                    <br> Volver a la lista de Vehiculos
                </p>
            </div>

        </form>

    </div>

    </div>
     </div>

    </div>

     <div class="row " >
        <div class="col-12">

      {%  if msg('msg') %}

            <script>
                $(document).ready(function() {

                 var msg = {{ msg('msg')|json_encode|raw }};

                Swal.fire({
                    title: msg.title,
                    text: msg.text,
                    icon: 'success',
                    cancelButtonText: 'Cerrar'
                    })
                });


            </script>

      {% endif %}

        {%  if msg('msg2') %}

            <script>
                $(document).ready(function() {

                 var msg2 = {{ msg('msg2')|json_encode|raw }};

                Swal.fire({
                    title: msg2.title,
                    text: msg2.text,
                    icon: 'warning',
                    cancelButtonText: 'Cerrar'
                    })
                });


            </script>

      {% endif %}

     </div>
 </div>
{% include 'Front/base/footer.html.twig' %}
    {% endblock %}

    {% block script %}
    {{parent(script)}}

    <script>
        setTimeout(function() {
            $(".alerta").fadeOut(2000);
        }, 2200);
    </script>
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% endblock %}
