{% extends 'Front/base/main.html.twig' %}

{# {% block titleHeader %}
Crear un Cliente
{% endblock %} #}
{% block content %}
	{% include 'Front/base/header.html.twig' %}
	<link rel="stylesheet" href="/css/css_all/vehicles/edit.css">
    <style>

 .boton_add_vehicle {
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        border-bottom-right-radius: 40px 40px;
        border-bottom-left-radius: 40px 40px;
        width: 100%;
        box-shadow: none;
        font-size: 20px;
        border: none;
        background: #a253ef;
    }

    </style>

	<div class="container mt-1">

		<div id="title_drivers">

			<div class="row">
				<div class="col-4 pl-3">
					<a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
						<img class="ml-3 pt-4 " src="\images\arrow_white_izq.png" alt="...">
					</a>
				</div>
				<div class="col-4"></div>
				<div class="col-4"></div>
			</div>

			<div class="cssscan">
				<p>
					{% for vehicle in vehicles %}
						{# <img class="rounded mx-auto d-block m-3" src="\images\paquetes_white.png" alt="..."> #}

						<h4 class="display-4 text-center ">Vehiculo
							{{ vehicle.car_registration }}
						</h4>
						<p class=" texto_titulo ">Modificar el Vehiculo
						</p>
					</p>
				</p>

				<img src="\images\conductor_header_.svg" alt="...">
			</div>
		</div>


		<form action="{{ routeTo('editSaveVehicle', vehicle.id_vehicle) }}" method="POST">
			<div class="cuerpo_vehicle mt-2">

				<div class="row m-4">
					<div class="col-sm">
						<div class="field field_v2">
							<label for="names" class="ha-screen-reader"></label>
							<input id="names" class="field__input" placeholder="{{ vehicle.name }}" name="name" value="{{ vehicle.name }}">
							<span class="field__label-wrap" aria-hidden="true">
								<span class="field__label">Nombre
								</span>
							</span>
						</div>
						<p class="text-danger">{{ msg('errors.names') }}</p>
					</div>

					<div class="col-sm">
						<div class="field field_v2">
							<label for="car_registration" class="ha-screen-reader"></label>
							<input id="car_registration" class="field__input" placeholder="{{ vehicle.car_registration }}" name="car_registration" value="{{ vehicle.car_registration }}">
							<span class="field__label-wrap" aria-hidden="true">
								<span class="field__label">Matricula
								</span>
							</span>
						</div>
						<p class="text-danger">{{ msg('errors.car_registration') }}</p>
					</div>
					<div class="col-sm">
						<div class="field field_v2">
							<label for="make" class="ha-screen-reader"></label>
							<input id="make" class="field__input" placeholder="{{ vehicle.make }}" name="make" value="{{ vehicle.make }}">
							<span class="field__label-wrap" aria-hidden="true">
								<span class="field__label">Marca
								</span>
							</span>
						</div>
						<p class="text-danger">{{ msg('errors.make') }}</p>
					</div>

				</div>

				<div class="row m-4">
					<div class="col-sm">
						<div class="field field_v2">
							<label for="model" class="ha-screen-reader"></label>
							<input id="model" class="field__input" placeholder="{{ vehicle.model }}" name="model" value="{{ vehicle.model }}">
							<span class="field__label-wrap" aria-hidden="true">
								<span class="field__label">Modelo
								</span>
							</span>
						</div>
						<p class="text-danger">{{ msg('errors.model') }}</p>
					</div>

					<div class="col-sm">
						<div class="field field_v2">
							<label for="phone" class="ha-screen-reader"></label>
							<input id="phone" class="field__input" placeholder="{{ vehicle.observations }}" name="observations" value="{{ vehicle.observations }}">
							<span class="field__label-wrap" aria-hidden="true">
								<span class="field__label">Observacion
								</span>
							</span>
						</div>
						<p class="text-danger">{{ msg('errors.observations') }}</p>
					</div>

                    	<div class="col-sm"></div>


				</div>

				<div class="row m-4">
					<div class="col-sm">
						<div class="col-sm-6">
							<label for="inputDescription" class="p-2">Fecha Registro
							</label>
							<input type="date" class="form-control text-left " name="registration_date"  >
							<label class="ml-3 form-control-placeholder" id="start-p" for="start"></label>
							<span class="fa fa-calendar" id="fa-1"></span>
						</div>
						<p class="text-danger">{{ msg('errors.registration_date') }}</p>
					</div>

					<div class="col-sm">
						<div class="col-sm-6">
							<label for="inputDescription" class="p-2">Fecha ITV
							</label>
							<input type="date" class="form-control text-left " name="date_itv">
							<label class="ml-3 form-control-placeholder" id="start-p" for="start"></label>
							<span class="fa fa-calendar" id="fa-1"></span>
						</div>
						<p class="text-danger">{{ msg('errors.date_itv') }}</p>
					</div>


				</div>


			{% endfor %}

			<div class="row mt-4">
				<div class="col-md">

					<div class="row">
						<div class="col"></div>
						<div class="col-md">
							<button class=" mt-3 pt-3 pb-3 boton_add_vehicle text-white" type="submit">REGISTRAR</button>
						</div>
						<div class="col"></div>
					</div>
				</div>
			</form>
			<p class=" text-center mt-5">
				<a href="{{ routeTo('listVehicle') }}">
					<img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
				</a>
				<br>
				Volver a la lista de Vehiculos
			</p>

		</div>
	</div>
</div>
</div>

   <div class="row " >
        <div class="col-12">

      {%  if msg('msg') %}

            <script>
                $(document).ready(function() {

                 var msg = {{ msg('msg')|json_encode|raw }};

                Swal.fire({
                    title: msg.title,
                    text: msg.text,
                    icon: 'success',
                    cancelButtonText: 'Cerrar'
                    })
                });


            </script>

      {% endif %}

        {%  if msg('msg2') %}

            <script>
                $(document).ready(function() {

                 var msg2 = {{ msg('msg2')|json_encode|raw }};

                Swal.fire({
                    title: msg2.title,
                    text: msg2.text,
                    icon: 'warning',
                    cancelButtonText: 'Cerrar'
                    })
                });


            </script>

      {% endif %}

     </div>
 </div>
{% include 'Front/base/footer.html.twig' %}

{% endblock %}
{% block script %}
	{{parent(script)}}

    <script>setTimeout(function () {
$(".alerta_msg_vehicle").fadeOut(2000);
}, 2200);
</script>
	<script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}
