{% extends 'Front/base/main.html.twig' %}

{# {% block titleHeader %}
Crear un Cliente
{% endblock %} #}
{% block content %}
{% include 'Front/base/header.html.twig' %}
<link rel="stylesheet" href="/css/css_all/albaranes/edit.css">
<style>


@keyframes parpadeo {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .parpadeo {
    color:#fdacac;

font-weight: 700;
    animation: parpadeo 2s infinite;
  }

    #error {
        background: #fdacac;
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;
        color: #fff;
        animation: error 2s ease-in-out infinite;

    }


    @keyframes error {
        0% {
            background-color: #fdacac;
        }

        50% {
            background-color: #fd0404a6;
        }

        100% {
            background-color: #fdacac;
        }
    }


    #error_servicios {
        background: #fdacac;
        padding: 5px;
        text-align: center;
        font-size: 0.8rem;
        color: #fff;
        animation: error_servicios 2s ease-in-out infinite;

    }


    @keyframes error_servicios {
        0% {
            background-color: #fdacac;
        }

        50% {
            background-color: #fd0404a6;
        }

        100% {
            background-color: #fdacac;
        }
    }
</style>

<div class="container mt-1">

    <div id="titulo_albaranes">

        <div class="row">
            <div class="col-4 pl-3"><a href="javascript: history.go(-1)">&nbsp;&nbsp;&nbsp;
                    <img class="ml-3 pt-4 " src="\images\arrow_white_izq.png" alt="...">
                </a></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>

        <div class="cssscan">
            <p>
                <h4 class="display-4 text-white text-center ">Editar el Albaran Nº {{id_albaran}}</h4>
                <p class=" texto_titulo text-white"> Gestion de albaranes</span>
                </p>
            </p>

         <img src="\images\icono_header_albaran.svg" alt="...">
        </div>
    </div>



    <form action="{{  routeTo('editSaveAlbaran' ) }}" method="POST" id="myForm">
    <input type="hidden" name="id_albaran" value="{{id_albaran}}">

        <div class="cuerpo_albaranes mt-2">
{# {% include 'Front/base/Albaranes/msgAlbaranes.html.twig' %} #}

            <div class="row ">

                <div class="col-12 albaranes_titles_bottom_preimpreso mb-1 ">

                  <h3 class="text-center display-6 text-white">Pre impreso
                        </h3>

                    <div class="row mb-2  p-2">

                        <div class="col-sm-4"></div>

                        <div class="col-sm-4 mt-4">



                            <div class="field field_v2">
                                <label for="preprinted" class="ha-screen-reader"></label>

                                  <input id="preprinted" class="field__input" style="color:white !important;" placeholder="{{ preprinted }}" name="preprinted"
                            value="{{ preprinted }}">

                                <span class="field__label-wrap" aria-hidden="true" style="color:white !important;">
                                    <span class="field__label" style="color:white !important;">Pre Impreso Numero
                                    </span>
                                </span>
                            </div>
                            <p class="text-danger parpadeo" style="color:#fdacac !important;">{{ msg('errors.preprinted') }}</p>


                        </div>

                    </div>

                </div>

            </div>



            <div class="row">

                <div class="col-5  title_section ">
                    <span class="text-center ">Cliente
                    </span>
                </div>

            </div>

            <div class="row albaranes_titles_bottom p-2">

                <div class="col-sm-1 "> </div>

                <div class="col-sm-10 mt-2 p-2">

                    <h2 class="text-left fw-light detalles_customer p-4">

                        <b> Cliente:</b> {{ customer_name }}
                        <br>

                        <b> Direccion de Obra:</b>
                        {{ work_location_address }},
                        {{ work_location_location }},
                        {{ work_location_province }},
                        {{ work_location_zip_code }}
                    </h2>

                </div>

                <div class="col-sm-1 "> </div>

            </div>

            <div class="row mt-3">

                <div class="col-5  title_section ">
                    <span class="text-center ">Contenedores
                    </span>
                </div>

            </div>

            <div class="row mb-3 pb-1 ">

                <div class="col-12 albaranes_titles_bottom">

                    <div class="row mt-2 ">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10  ">

                            <div class=" text-center p-2">
                                <h4 class="text-center botones fw-light ">
                                    Contenedor actual

                                </h4>

                                <h4 class="text-center  fw-light detalles">

                                    <b> <img src="\images\contenedor_3d_byn.png" style="width:80px;height:50px;"
                                            alt="..." title=""> {{ container_residue }} &nbsp; &nbsp; &nbsp;
                                        {{ container_m3 }} &nbsp; &nbsp;
                                        &nbsp; {{ container_price }} €
                                    </b>
                                </h4>
                            </div>
                            <div class=" text-center ">

                                <h4 class="text-center botones fw-light ">
                                    Si desea cambiar de contenedor seleccione uno debajo

                                </h4>
                            </div>

                            <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                                <div class="accordion-item text-center m-2">
                                    <h2 class="accordion-header " id="flush-headingOne ">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            VOLUMINOSO
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">

                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "VOLUMINOSO" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                               <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>


                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                            LIMPIO
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">

                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "LIMPIO" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                                <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>


                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                            SUCIO
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "SUCIO" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                               <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>


                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse4"
                                            aria-expanded="false" aria-controls="flush-collapse4">
                                            MADERA
                                        </button>
                                    </h2>
                                    <div id="flush-collapse4" class="accordion-collapse collapse"
                                        aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "MADERA" ) %}

                                                        <tr class="text-center align-middle ">
                                                         <td class="text-center align-middle">

                                                          <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>



                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse5"
                                            aria-expanded="false" aria-controls="flush-collapse5">
                                            PODA
                                        </button>
                                    </h2>
                                    <div id="flush-collapse5" class="accordion-collapse collapse"
                                        aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "PODA" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                               <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>



                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-heading6">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse6"
                                            aria-expanded="false" aria-controls="flush-collapse6">
                                            CARTON
                                        </button>
                                    </h2>
                                    <div id="flush-collapse6" class="accordion-collapse collapse"
                                        aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "CARTON" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                               <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>



                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-heading7">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse7"
                                            aria-expanded="false" aria-controls="flush-collapse7">
                                            CHATARRA
                                        </button>
                                    </h2>
                                    <div id="flush-collapse7" class="accordion-collapse collapse"
                                        aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "CHATARRA" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                             <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>



                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-heading8">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse8"
                                            aria-expanded="false" aria-controls="flush-collapse8">
                                            ASFALTO
                                        </button>
                                    </h2>
                                    <div id="flush-collapse8" class="accordion-collapse collapse"
                                        aria-labelledby="flush-heading8" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "ASFALTO" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                            <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">


                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>


                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item m-2">
                                    <h2 class="accordion-header" id="flush-heading9">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse9"
                                            aria-expanded="false" aria-controls="flush-collapse9">
                                            OTROS
                                        </button>
                                    </h2>
                                    <div id="flush-collapse9" class="accordion-collapse collapse"
                                        aria-labelledby="flush-heading9" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="tabla mb-0" style="overflow-x:auto;">

                                                <table class="table table-striped  text-center ">
                                                    <thead>

                                                        <tr>
                                                            <th class=" pt-3  text-center align-middle th1 th1_selec"
                                                                scope="col">
                                                                Seleccionar Contenedor
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Residuo
                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                Precio

                                                            </th>

                                                            <th class=" pt-3 text-center align-middle th1" scope="col">
                                                                M2
                                                            </th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        {% for container in containers %}

                                                        {% if ( container.residue == "OTROS" ) %}

                                                        <tr class="text-center align-middle ">

                                                            <td class="text-center align-middle ">

                                                              <input class="form-check-input mt-3" id="cleandirty"
                                                                    style="text-align:center;" type="radio"
                                                                    name="id_container"
                                                                   value="{{ container.id_container }}">&nbsp;


                                                                <img src="\images\contenedor_3d_byn.png"
                                                                    style="width:80px;height:50px;" alt="..." title="">

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.residue }}
                                                            </td>

                                                            <td class="text-center align-middle">

                                                                {{ container.price }}</b> €

                                                            </td>

                                                            <td class="text-center align-middle">
                                                                {{ container.cubic_meters }} m2
                                                            </td>



                                                        </tr>
                                                        {% endif %}

                                                        {% endfor %}

                                                    </tbody>

                                                </table>

                                            </div>{# scroll#}

                                            <p class="bottom_table p-2 col-12"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-1 "> </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-5  title_section ">
                    <span class="text-center ">Transportes y Conductor
                    </span>
                </div>
            </div>
            <div class="row  pb-1 ">

                <div class="col-12 albaranes_titles_bottom">

                    <div class="row  p-2">

                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 mt-2 p-2">

                            <h2 class="text-left fw-light detalles_customer p-4">

                                <b> Transporte actual:</b>
                                {{ vehicle_name }}&nbsp;&nbsp;
                                {{ vehicle_make }}&nbsp;&nbsp;
                                {{ vehicle_model }}&nbsp;&nbsp;
                                {{ vehicle_car_registration }}
                                <br>

                                <b> Conductor actual:</b>
                                {{ driver_name }}

                            </h2>

                        </div>

                        <div class="col-sm-1 "> </div>

                    </div>

                    <div class=" text-center mb-3">

                        <h4 class="text-center botones fw-light ">
                            Si desea cambiar de conductor o vehiculo seleccione uno debajo

                        </h4>
                    </div>

                    <div class="row mt-3 mb-3">



                        <div class="col-sm-4">
                            <div class="col-sm">
                                <label for="inputDescription" class="p-2">Conductor </label>
                                <select class="selectpicker form-select" name="id_driver"
                                    aria-label="Default select example">

                                    {% for d in drivers %}
                                    <option value="{{ d.id_driver }}" {% if  d.id_driver == id_driver_selected %}selected{% endif %}>
                                        {{ d.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="col-sm">
                                <label for="inputDescription" class="p-2">Vechiculo </label>
                                <select class="selectpicker form-select" name="id_vehicle"
                                    aria-label="Default select example">


                                    {% for v in vehicles %}


                                     <option value="{{ v.id_vehicle }}" {% if  v.id_vehicle == id_vehicle_selected %}selected{% endif %}>

                                      {{ v.name }} Matricula {{ v.car_registration }} Marca
                                        {{ v.make  }} Modelo {{ v.model  }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-sm-5  title_section ">
                        <span class="text-center ">Suplementos
                        </span>
                    </div>
                </div>
                <div class="col-sm-12">
                    {#         Suplemenetos           #}

                    <div class="row pb-1 ">

                        <div class="col-12 albaranes_titles_bottom ">

                            <div class=" text-center mb-3 mt-3">

                                <h4 class="text-center botones fw-light ">
                                    Si desea modificar los suplementos seleccione uno o varios debajo

                                </h4>
                            </div>

                            <div class="row  p-0 m-1">

                                <span class="top_table p-2 col-12 mt-1"></span>

                                {% for supplement in supplements_all %}

                                <div class="col-sm-6 div_suplements_checkbox ">

                                    <div class="checkbox-wrapper-40 mt-1">
                                        <label>
                                            <input type="checkbox" name="supplements_id[]"
                                                value="{{ supplement.id_supplements }}"
                                                {% if supplement.active %}checked{% endif %}>
                                            {{ supplement.name }}

                                            <input type="hidden" name="supplements_name[{{ supplement.id_supplements }}]"
                                                value="{{ supplement.name }}">

                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-3  div_suplements_pvp">

                                    <div class="field field_v2">
                                        <label for="reserved" class="ha-screen-reader"></label>
                                        <input id="reserved" class="field__input" type="number" placeholder="Pvp "
                                            name="pvp_edit[]" value="{{ supplement.pvp_edit }}">
                                        <span class="field__label-wrap" aria-hidden="true">
                                            <span class="field__label">Editar Pvp</span>
                                        </span>
                                    </div>

                                    {# <p class="mt-3"> € {{ supplement.pvp }} </p> #}

                                </div>
                                <div class="col-sm-2  div_suplements_pvp">

                                    <div class="field field_v2">
                                        <label for="reserved" class="ha-screen-reader"></label>
                                        <input id="supplement_dto" class="field__input" type="number" placeholder=" "
                                            name="supplement_dto[]" value="{{ supplement.dto }}">
                                        <span class="field__label-wrap" aria-hidden="true">
                                            <span class="field__label"><b>% Dto.</b></span>
                                        </span>
                                    </div>

                                    {# <p class="mt-3"> € {{ supplement.pvp }} </p> #}

                                </div>

                                {% endfor %}

                                <p class="mt-1"> *Los suplementos se pueden editar sus descripciones o su
                                    valores, o
                                    crear unos
                                    nuevos en el apartado de suplementos. </p>

                            </div>

                        </div>
                    </div>
                    {#           fin de Suplemenetos           #}

                </div>

                <div class="row">

                    <div class="col-sm-12" id="section_servicios">

                        <div class="row mt-3">

                            <div class="col-sm-5  title_section ">
                                <span class="text-center ">Servicios y Fechas
                                </span>
                            </div>
                        </div>

                        <div class="row mb-3 mr-3 ">

                            <div class="col-12 albaranes_titles_bottom">

                                <div class="row mt-3 mb-4 p-1">

                                    <div class="col-sm-6">

                                        {% for service_s in services_ %}

                                        <div class="row m-1">
                                            <div class="col-6 div_suplements_checkbox ">
                                                <div class=" mt-3">

                                                    <label>

                                                        <input id="example-1" class="form-check-input servicio"
                                                            type="radio" aria-hidden="true" name="id_service"
                                                            id="idservicios" value="{{ service_s.id_service }}"
                                                            {% if  service_s.id_service == id_service %}checked{% endif %}>

                                                        <label for="example-1">{{ service_s.name }}</label>

                                                    </label>

                                                </div>
                                                <br>
                                            </div>

                                            <div class="col-6  div_suplements_pvp">

                                                <div class=" mt-3">

                                                    <input id="reserved" class="field__input" type="hidden" step="any"
                                                        name="service_code[ {{ service_s.id_service }}]"
                                                        value="{{ service_s.code }}">

                                                    Codigo &nbsp;&nbsp;<b
                                                        style="color:#DA192D;">{{ service_s.code }}</b>

                                                </div>
                                                <p class="text-danger">{{ msg('errors.reserved') }}</p>

                                            </div>

                                        </div>
                                        {% endfor %}

                                        <p class=""> *Los servicios se pueden editar sus descripciones o su valores, o
                                            crear unos nuevos en el apartado de suplementos. </p>
                                        <div class="col-sm"> </div>

                                    </div>

                                    <div class="col-6 ">



                                            <div class="col-12  mb-4">
                                                <label for="retainer" class="ha-screen-reader">Observaciones</label>
                                                <textarea class="form-control" style="height:200px;" id="exampleFormControlTextarea1"
                                                    name="notas">{{ notas }}

                                                    </textarea>

                                            </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="row ">

                    <div class="col-sm-5  title_section ">
                        <span class="text-center ">Tarifas y Fechas
                        </span>
                    </div>
                </div>

                <div class="row ">

                    <div class="col-12 albaranes_titles_bottom mb-1 ">

                        <div class="row  p-2">

                            <div class="col-sm-1 "> </div>

                            <div class="col-sm-10 mt-2 p-2">

                                <h2 class="text-left fw-light detalles_customer p-4 mt-4">

                                    <b> Tarifa:</b> {{ rates_name }}
                                    <br>

                                    <b> Fecha de solicitud:</b>
                                    {{ planned_date_realization }}
                                    <br>

                                    <b> Metodo de Pago:</b>
                                    {{ payment_method }}

                                </h2>
                            </div>
                            <div class="col-sm-1 "> </div>
                        </div>

                        <div class="row mt-1 mb-1 p-1">

                            <div class="col-sm-4">
                                <div class="col-sm">
                                    <label for="inputDescription" class="p-2">Tarifa </label>
                                    <select class="selectpicker form-select" name="id_rates">
                                     <option selected>Seleccione una tarifa
                                    </option>

                                        {% for rate in rates %}
                                        <option value="{{ rate.id_rates }}" {% if  rate.id_rates == id_rate_selected %}selected{% endif %}>
                                        {{ rate.name }}
                                        </option>
                                        {% endfor %}

                                    </select>
                                </div>

                            </div>

                            <div class="col-sm-4">
                                <div class="col-sm">
                                    <label for="inputDescription" class="p-2">Fecha Realizacion </label>
                                    <input type="date" class="form-control text-left " name="planned_date_realization"
                                        placeholder="Fecha de Produccion">
                                    <label class="ml-3 form-control-placeholder" id="start-p" for="start">
                                    </label>
                                    <span class="fa fa-calendar" id="fa-1"></span>
                                </div>
                                <p class="text-danger">{{ msg('errors.dateOfProduction') }}</p>
                            </div>

                            <div class="col-sm-4">
                                <div class="col-sm">
                                    <label for="inputDescription" class="p-2">Metodo de Pago </label>
                                    <select class="selectpicker form-select" name="id_payment_method"
                                        aria-label="Default select example">
                                        {% for p in payment_method_all %}
                                          <option value="{{ p.id_payment_method }}" {% if  p.id_payment_method == id_payment_method_selected %}selected{% endif %}>
                                          {{ p.name }}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                                <p class="text-danger">{{ msg('errors.dateOfProduction') }}</p>
                            </div>

                        </div>

                        <div class="row mb-2 div_services_checkbox p-2">


                          <div class="col-sm-4"> </div>

                            <div class="col-sm-4 text-center">
                                Facturable
                                <div class="row ">

                                    <div class="col ">

                                        <div class="checkbox-wrapper-40 mt-3">

                                            <label>
                                                <input type="radio" name="billable" class="form-check-input" value="SI">
                                                SI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col ">

                                        <div class="checkbox-wrapper-40 mt-3">
                                            <label>
                                                <input type="radio" name="billable" class="form-check-input" value="NO">
                                                NO
                                            </label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                              <div class="col-sm-4"> </div>



                        </div>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="row ">

                        <div class="col-5  title_section ">
                            <span class="text-center ">Anticipos y Descuentos
                            </span>
                        </div>
                    </div>
                    <div class="row pb-1 albaranes_titles_bottom">

                        <div class="col-6 ">
                            <div class="row p-0">

                                <div class="checkbox-wrapper-3">
                                    <span class="title_anticipos"> Deshabilitar/Habilitar <b>ANTICIPOS</b></span>
                                    <input type="checkbox" id="cbx-3" />
                                    <label for="cbx-3" class="toggle"><span></span></label>
                                </div>

                            </div>

                            <div class="row mt-5 ">

                                <div class="col">
                                    <div class="col-sm">
                                        <div class="field field_v2">
                                            <label for="retainer" class="ha-screen-reader"></label>
                                            <input class="field__input" placeholder=" " id="retainer_amount" type="number"
                                                name="retainer_amount">
                                            <span class="field__label-wrap" aria-hidden="true">
                                                <span class="field__label ">Importe de Anticipo €</span>
                                            </span>
                                        </div>
                                        <p class="text-danger">{{ msg('errors.retainer') }}</p>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="col-6 ">
                            <div class="row p-0">

                                <div class="col-sm  mt-2">

                                    <div class="checkbox-wrapper-3">
                                        <span class="title_anticipos"> <b>DESCUENTO (%)</b> sobre el precio base del
                                            contenedor</span><br>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm  mt-5">
                                <div class="field field_v2">
                                    <label for="retainer" class="ha-screen-reader"></label>
                                    <input class="field__input" placeholder=" " id="discount" name="discount" type="number">
                                    <span class="field__label-wrap" aria-hidden="true">
                                        <span class="field__label ">% del Descuento</span>
                                    </span>
                                </div>
                                <p class="text-danger">{{ msg('errors.discount') }}</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row mt-5">

                    <div class="col-md">

                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-md">
                                <button class=" mt-3 pt-3 pb-3  text-white" id="enviar" type="submit">Generar
                                    Alabaran</button>
                            </div>
                            <div class="col">
                            </div>
                        </div>

                    </div>

                    <p class=" text-center mt-5">
                        <a href="{{ routeTo('listAlbaranes') }}">
                            <img class="rounded mx-auto d-block " src="\images\regresar.png" alt="...">
                        </a>
                        <br> Volver a la lista de Albaranes
                    </p>

                </div>

            </div>
    </form>
</div>
</div>


  <div class="row " >
        <div class="col-12">

      {%  if msg('msg') %}

            <script>
                $(document).ready(function() {

                 var msg = {{ msg('msg')|json_encode|raw }};

                Swal.fire({
                    title: msg.title,
                    text: msg.text,
                    icon: 'success',
                    cancelButtonText: 'Cerrar'
                    })
                });


            </script>

      {% endif %}

        {%  if msg('msg2') %}

            <script>
                $(document).ready(function() {

                 var msg2 = {{ msg('msg2')|json_encode|raw }};

                Swal.fire({
                    title: msg2.title,
                    text: msg2.text,
                    icon: 'warning',
                    cancelButtonText: 'Cerrar'
                    })
                });


            </script>

      {% endif %}

     </div>
 </div>
{% include 'Front/base/footer.html.twig' %}
{% endblock %}

{% block script %}
{{parent(script)}}

<script>
    var divToShow = document.getElementById("error");
    divToShow.style.display = "none";
    //Anticipo switch
    var retainer_amount = document.getElementById('retainer_amount');
    retainer_amount.disabled = true;
    var checkbox = document.getElementById('cbx-3');
    checkbox.addEventListener("change", validaCheckbox, false);



    function validaCheckbox() {
        var checked = checkbox.checked;
        if (checked) {
            retainer_amount.disabled = false;
        } else {
            retainer_amount.disabled = true;
            document.getElementById("retainer_amount").value = "";
        }
    }

    $('#enviar').on("click", function(event) {
        //Controla que se elija un contenedor
        //Conrtenedores
        let seleccionado = false;
        if (!seleccionado) {
            event.preventDefault();
            var divToShow = document.getElementById("error");
            divToShow.style.display = "block";
            setTimeout(function() {
                $("#error").fadeOut(2500);
            }, 2200);
            tabla_direcciones.scrollIntoView();
        }
    });
    setTimeout(function() {
        $(".alerta_msg_albaranes").fadeOut(2000);
    }, 2200);
</script>

<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

<script src="https://cdn.lordicon.com/qjzruarw.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}
